# Import Libraries

In [1]:
import pandas as pd
import os
import requests
import psycopg2
import psycopg2.extras

# IEX API Credentials

In [7]:
token = "pk_5925316dd7194aa583d7e80711bbd661"

base_url = 'https://cloud.iexapis.com/v1'

resp = requests.get(base_url + '/status')

resp

# Stocks To Collect Data On

In [3]:
tickers= ["AAPL", "FB", "ADBE", "INTC", "PYPL", "BABA", "QCOM", "SHOP", "AMD", "MSFT"]
          
# "PYPL", "BABA", "QCOM", "SHOP", "AMD", "MSFT"]

## list of tickers in Technology: 
# 1 - 4> "AAPL": Apple, "MSFT": Microsoft Corporation, "INTC":  Intel Corporation, "AMZN": Amazon
# 5 - 8> "GOOG": Alphabet Inc Class C, "NVDA": NVIDIA Corporation, "CRM": salesforce.com, inc., "BABA": Alibaba Group Holding Ltd - ADR
# 9 - 12> "TSLA": Tesla Inc, "XRX": Xerox Holdings Corp, "PYPL": Paypal Holdings Inc, "NTAP": NetApp Inc.
# 13 - 16> "AVGO": Broadcom Inc, "GLW": Corning Incorporated, "MTCH": Match Group Inc, "FANG": Diamondback Energy Inc
# 17 - 20> "NFLX": Netflix Inc, "SWKS": Skyworks Solutions Inc, "GME": GameStop Corp, "ATVI": Activision Blizzard, Inc
# 21 - 24> "ADBE": Adobe Inc, "AMD": Advanced Micro Devices, Inc., "IBM": IBM Common Stock, "A": Agilent Technologies Inc
# 25 - 28> "LOW": Lowe`s Companies Inc, "CSCO":  Cisco Systems Inc, "EA": Electronic Arts Inc., "AMAT": Applied Materials, Inc.
# 29 - 32> "GOOGL": Alphabet Inc Class A, "XG": Vislink Technologies Inc, "YELP": Yelp Inc, "XLK": Technology Select Sector SPDR Fund
# 33 - 36> "BYD": BYD Ord Shs H, "LRCX": Lam Research Corporation, "XLNX": Xilinx, Inc., "MU": Micron Technology, Inc.
# 37 - 40> "KLAC": KLA Corp, "MXIM": Maxim Integrated Products Inc., "ACN": Accenture Plc, "TXN": Texas Instruments Incorporated
# 41 - 44> "INTU":  Intuit Inc., "HPQ": HP Inc, "ANSS": ANSYS, Inc., "ADSK": Autodesk, Inc.
# 45 - 48> "MA": Mastercard Inc, "D": Dominion Energy Inc, "CTXS": Citrix Systems, Inc., "ORCL": Oracle Corporation

## historical price data

In [8]:
import pyEX as p
c = p.Client(api_token='pk_5925316dd7194aa583d7e80711bbd661', version='stable')

In [9]:
## Apple AAPL -- 5y
sym='AAPL'
timeframe='5y'
df_AAPL = c.chartDF(symbol=sym, timeframe=timeframe)
df_AAPL.head()

,change,changeOverTime,changePercent,close,fClose,fHigh,fLow,fOpen,fVolume,high,...,open,subkey,symbol,uClose,uHigh,uLow,uOpen,uVolume,updated,volume
date,,,,,,,,,,,,,,,,,,,,,
2021-04-01,0.00,0.000000,0.0000,123.00,123.00,124.1800,122.4900,123.66,75089134,124.1800,...,123.66,,AAPL,123.00,124.1800,122.4900,123.66,75089134,2021-04-02 00:48:07,75089134
2021-03-31,-0.85,-0.006911,-0.0069,122.15,122.15,123.5200,121.1500,121.65,118323826,123.5200,...,121.65,,AAPL,122.15,123.5200,121.1500,121.65,118323826,2021-04-01 00:48:05,118323826
2021-03-30,-2.25,-0.025203,-0.0184,119.90,119.90,120.4031,118.8600,120.11,85671919,120.4031,...,120.11,,AAPL,119.90,120.4031,118.8600,120.11,85671919,2021-03-31 01:16:10,85671919
2021-03-29,1.49,-0.013089,0.0124,121.39,121.39,122.5800,120.7299,121.65,80819203,122.5800,...,121.65,,AAPL,121.39,122.5800,120.7299,121.65,80819203,2021-03-30 01:00:08,80819203
2021-03-26,-0.18,-0.014553,-0.0015,121.21,121.21,121.4800,118.9200,120.35,94071234,121.4800,...,120.35,,AAPL,121.21,121.4800,118.9200,120.35,94071234,2021-03-27 01:16:02,94071234

In [10]:
## Facebook FB -- 5y
sym='FB'
timeframe='5y'
df_FB = c.chartDF(symbol=sym, timeframe=timeframe)
df_FB.tail()

,change,changeOverTime,changePercent,close,fClose,fHigh,fLow,fOpen,fVolume,high,...,open,subkey,symbol,uClose,uHigh,uLow,uOpen,uVolume,updated,volume
date,,,,,,,,,,,,,,,,,,,,,
2016-04-08,1.64,-0.629579,0.0150,110.63,110.63,114.33,109.9000,114.25,48497808,114.33,...,114.25,,FB,110.63,114.33,109.9000,114.25,48497808,2020-12-01 13:49:32,48497808
2016-04-07,3.01,-0.619500,0.0272,113.64,113.64,114.89,113.0663,113.79,20714537,114.89,...,113.79,,FB,113.64,114.89,113.0663,113.79,20714537,2020-12-01 13:49:32,20714537
2016-04-06,0.07,-0.619266,0.0006,113.71,113.71,113.81,112.4200,112.47,20814640,113.81,...,112.47,,FB,113.71,113.81,112.4200,112.47,20814640,2020-12-01 13:49:32,20814640
2016-04-05,-1.49,-0.624255,-0.0131,112.22,112.22,113.32,111.9000,112.11,22962365,113.32,...,112.11,,FB,112.22,113.32,111.9000,112.11,22962365,2020-12-01 13:49:32,22962365
2016-04-04,0.33,-0.623150,0.0029,112.55,112.55,114.55,111.6100,114.07,48487913,114.55,...,114.07,,FB,112.55,114.55,111.6100,114.07,48487913,2020-12-01 13:49:32,48487913

In [11]:
## Adobe Inc ADDBE -- 5y
sym='ADBE'
timeframe='5y'
df_ADBE = c.chartDF(symbol=sym, timeframe=timeframe)
df_ADBE.head()

,change,changeOverTime,changePercent,close,fClose,fHigh,fLow,fOpen,fVolume,high,...,open,subkey,symbol,uClose,uHigh,uLow,uOpen,uVolume,updated,volume
date,,,,,,,,,,,,,,,,,,,,,
2021-04-01,0.00,0.000000,0.0000,483.34,483.34,487.0400,480.71,483.12,2664694,487.0400,...,483.12,,ADBE,483.34,487.0400,480.71,483.12,2664694,2021-04-02 00:48:01,2664694
2021-03-31,-7.97,-0.016489,-0.0165,475.37,475.37,482.4100,468.70,469.70,3155889,482.4100,...,469.70,,ADBE,475.37,482.4100,468.70,469.70,3155889,2021-04-01 00:48:03,3155889
2021-03-30,-9.91,-0.036993,-0.0208,465.46,465.46,469.0925,461.50,462.58,2436593,469.0925,...,462.58,,ADBE,465.46,469.0925,461.50,462.58,2436593,2021-03-31 01:16:09,2436593
2021-03-29,3.86,-0.029006,0.0083,469.32,469.32,472.0000,462.50,469.03,3142203,472.0000,...,469.03,,ADBE,469.32,472.0000,462.50,469.03,3142203,2021-03-30 01:00:00,3142203
2021-03-26,-0.23,-0.029482,-0.0005,469.09,469.09,469.7700,449.05,450.25,3615888,469.7700,...,450.25,,ADBE,469.09,469.7700,449.05,450.25,3615888,2021-03-27 01:16:02,3615888

In [12]:
## Intel Corporation INTC -- 5y
sym='INTC'
timeframe='5y'
df_INTC = c.chartDF(symbol=sym, timeframe=timeframe)
df_INTC.tail()

,change,changeOverTime,changePercent,close,fClose,fHigh,fLow,fOpen,fVolume,high,...,open,subkey,symbol,uClose,uHigh,uLow,uOpen,uVolume,updated,volume
date,,,,,,,,,,,,,,,,,,,,,
2016-04-08,-0.04,-0.509992,-0.0013,31.63,27.7279,28.0697,27.5964,27.8418,17031882,32.02,...,31.76,,INTC,31.63,32.02,31.48,31.76,17031882,2021-02-05 00:16:27,17031882
2016-04-07,-0.08,-0.511232,-0.0025,31.55,27.6577,27.9646,27.4824,27.9558,23738226,31.90,...,31.89,,INTC,31.55,31.90,31.35,31.89,23738226,2021-02-05 00:16:26,23738226
2016-04-06,0.53,-0.503021,0.0168,32.08,28.1223,28.2538,27.8506,28.0259,15740607,32.23,...,31.97,,INTC,32.08,32.23,31.77,31.97,15740607,2021-02-05 00:16:26,15740607
2016-04-05,-0.18,-0.505809,-0.0056,31.90,27.9646,28.1574,27.8068,27.9558,20080011,32.12,...,31.89,,INTC,31.90,32.12,31.72,31.89,20080011,2021-02-05 00:19:08,20080011
2016-04-04,0.10,-0.504260,0.0031,32.00,28.0522,28.3853,27.8243,28.2275,21581634,32.38,...,32.20,,INTC,32.00,32.38,31.74,32.20,21581634,2021-02-05 00:18:22,21581634

In [13]:
## Paypal Holdings Inc PYPL -- 5y
sym='PYPL'
timeframe='5y'
df_PYPL = c.chartDF(symbol=sym, timeframe=timeframe)
df_PYPL.head()

,change,changeOverTime,changePercent,close,fClose,fHigh,fLow,fOpen,fVolume,high,...,open,subkey,symbol,uClose,uHigh,uLow,uOpen,uVolume,updated,volume
date,,,,,,,,,,,,,,,,,,,,,
2021-04-01,0.00,0.000000,0.0000,247.54,247.54,252.6492,246.0400,248.0400,6990135,252.6492,...,248.0400,,PYPL,247.54,252.6492,246.0400,248.0400,6990135,2021-04-02 00:48:26,6990135
2021-03-31,-4.70,-0.018987,-0.0190,242.84,242.84,245.2300,237.2700,238.1100,7633372,245.2300,...,238.1100,,PYPL,242.84,245.2300,237.2700,238.1100,7633372,2021-04-01 00:48:23,7633372
2021-03-30,-6.30,-0.044437,-0.0259,236.54,236.54,238.3600,232.6301,236.8800,6241995,238.3600,...,236.8800,,PYPL,236.54,238.3600,232.6301,236.8800,6241995,2021-03-31 01:16:29,6241995
2021-03-29,-0.87,-0.047952,-0.0037,235.67,235.67,243.2000,233.6100,241.5800,7510936,243.2000,...,241.5800,,PYPL,235.67,243.2000,233.6100,241.5800,7510936,2021-03-30 01:00:19,7510936
2021-03-26,5.36,-0.026299,0.0227,241.03,241.03,241.3100,232.3000,233.6187,8217621,241.3100,...,233.6187,,PYPL,241.03,241.3100,232.3000,233.6187,8217621,2021-03-27 01:16:29,8217621

In [14]:
## Alibaba Group Holding Ltd BABA -- 5y
sym='BABA'
timeframe='5y'
df_BABA = c.chartDF(symbol=sym, timeframe=timeframe)
df_BABA.tail()

,change,changeOverTime,changePercent,close,fClose,fHigh,fLow,fOpen,fVolume,high,...,open,subkey,symbol,uClose,uHigh,uLow,uOpen,uVolume,updated,volume
date,,,,,,,,,,,,,,,,,,,,,
2016-04-08,-0.24,-0.654707,-0.0031,77.47,77.47,78.76,76.6210,78.27,8401183,78.76,...,78.27,,BABA,77.47,78.76,76.6210,78.27,8401183,2020-12-01 13:49:32,8401183
2016-04-07,0.14,-0.654083,0.0018,77.61,77.61,78.60,77.1825,77.60,10937914,78.60,...,77.60,,BABA,77.61,78.60,77.1825,77.60,10937914,2020-12-01 13:49:32,10937914
2016-04-06,1.07,-0.649314,0.0138,78.68,78.68,79.15,77.1900,77.30,9071942,79.15,...,77.30,,BABA,78.68,79.15,77.1900,77.30,9071942,2020-12-01 13:49:32,9071942
2016-04-05,-1.36,-0.655375,-0.0173,77.32,77.32,78.30,76.9100,78.20,9603910,78.30,...,78.20,,BABA,77.32,78.30,76.9100,78.20,9603910,2020-12-01 13:49:32,9603910
2016-04-04,1.76,-0.647531,0.0228,79.08,79.08,79.55,78.3200,78.33,9817315,79.55,...,78.33,,BABA,79.08,79.55,78.3200,78.33,9817315,2020-12-01 13:49:32,9817315

In [15]:
## QUALCOMM, Inc QCOM -- 5y
sym='QCOM'
timeframe='5y'
df_QCOM = c.chartDF(symbol=sym, timeframe=timeframe)
df_QCOM.head()

,change,changeOverTime,changePercent,close,fClose,fHigh,fLow,fOpen,fVolume,high,...,open,subkey,symbol,uClose,uHigh,uLow,uOpen,uVolume,updated,volume
date,,,,,,,,,,,,,,,,,,,,,
2021-04-01,0.00,0.000000,0.0000,137.79,137.79,138.4321,133.600,134.50,14069555,138.4321,...,134.50,,QCOM,137.79,138.4321,133.600,134.50,14069555,2021-04-02 00:48:23,14069555
2021-03-31,-5.20,-0.037739,-0.0377,132.59,132.59,133.5200,130.570,130.96,8361293,133.5200,...,130.96,,QCOM,132.59,133.5200,130.570,130.96,8361293,2021-04-01 00:48:21,8361293
2021-03-30,-2.48,-0.055737,-0.0187,130.11,130.11,131.2400,129.065,130.17,7097298,131.2400,...,130.17,,QCOM,130.11,131.2400,129.065,130.17,7097298,2021-03-31 01:16:28,7097298
2021-03-29,1.16,-0.047318,0.0089,131.27,131.27,133.3400,129.770,132.54,9750057,133.3400,...,132.54,,QCOM,131.27,133.3400,129.770,132.54,9750057,2021-03-30 01:00:29,9750057
2021-03-26,1.72,-0.034836,0.0131,132.99,132.99,133.3500,127.040,127.06,11071560,133.3500,...,127.06,,QCOM,132.99,133.3500,127.040,127.06,11071560,2021-03-27 01:16:28,11071560

In [16]:
## Shopify Inc SHOP -- 5y
sym='SHOP'
timeframe='5y'
df_SHOP = c.chartDF(symbol=sym, timeframe=timeframe)
df_SHOP.tail()

,change,changeOverTime,changePercent,close,fClose,fHigh,fLow,fOpen,fVolume,high,...,open,subkey,symbol,uClose,uHigh,uLow,uOpen,uVolume,updated,volume
date,,,,,,,,,,,,,,,,,,,,,
2016-04-08,0.03,-0.974425,0.0010,29.55,29.55,30.0000,29.240,29.42,443368,30.0000,...,29.42,,SHOP,29.55,30.0000,29.240,29.42,443368,2020-12-01 13:49:32,443368
2016-04-07,-0.34,-0.974719,-0.0115,29.21,29.21,29.6900,28.941,29.47,320422,29.6900,...,29.47,,SHOP,29.21,29.6900,28.941,29.47,320422,2020-12-01 13:49:32,320422
2016-04-06,0.29,-0.974468,0.0099,29.50,29.50,29.7399,28.780,28.83,493783,29.7399,...,28.83,,SHOP,29.50,29.7399,28.780,28.83,493783,2020-12-01 13:49:32,493783
2016-04-05,-0.75,-0.975117,-0.0254,28.75,28.75,29.2400,28.640,29.24,558670,29.2400,...,29.24,,SHOP,28.75,29.2400,28.640,29.24,558670,2020-12-01 13:49:32,558670
2016-04-04,0.55,-0.974641,0.0191,29.30,29.30,29.9889,28.750,29.02,1619759,29.9889,...,29.02,,SHOP,29.30,29.9889,28.750,29.02,1619759,2020-12-01 13:49:32,1619759

In [17]:
## Advanced Micro Devices, Inc AMD -- 5y
sym='AMD'
timeframe='5y'
df_AMD = c.chartDF(symbol=sym, timeframe=timeframe)
df_AMD.head()

,change,changeOverTime,changePercent,close,fClose,fHigh,fLow,fOpen,fVolume,high,...,open,subkey,symbol,uClose,uHigh,uLow,uOpen,uVolume,updated,volume
date,,,,,,,,,,,,,,,,,,,,,
2021-04-01,0.00,0.000000,0.0000,81.09,81.09,81.3100,79.48,80.155,40182380,81.3100,...,80.155,,AMD,81.09,81.3100,79.48,80.155,40182380,2021-04-02 00:48:02,40182380
2021-03-31,-2.59,-0.031940,-0.0319,78.50,78.50,79.1300,76.52,76.570,43659455,79.1300,...,76.570,,AMD,78.50,79.1300,76.52,76.570,43659455,2021-04-01 00:48:04,43659455
2021-03-30,-2.50,-0.062770,-0.0318,76.00,76.00,76.5600,74.85,76.470,39169250,76.5600,...,76.470,,AMD,76.00,76.5600,74.85,76.470,39169250,2021-03-31 01:16:05,39169250
2021-03-29,1.14,-0.048711,0.0150,77.14,77.14,78.0200,76.26,77.030,37144298,78.0200,...,77.030,,AMD,77.14,78.0200,76.26,77.030,37144298,2021-03-30 01:00:07,37144298
2021-03-26,0.27,-0.045382,0.0035,77.41,77.41,77.4995,75.03,76.620,49148659,77.4995,...,76.620,,AMD,77.41,77.4995,75.03,76.620,49148659,2021-03-27 01:16:04,49148659

In [18]:
## Microsoft Corporation MSFT -- 5y
sym='MSFT'
timeframe='5y'
df_MSFT = c.chartDF(symbol=sym, timeframe=timeframe)
df_MSFT.tail()

,change,changeOverTime,changePercent,close,fClose,fHigh,fLow,fOpen,fVolume,high,...,open,subkey,symbol,uClose,uHigh,uLow,uOpen,uVolume,updated,volume
date,,,,,,,,,,,,,,,,,,,,,
2016-04-08,0.11,-0.775449,0.0020,54.42,49.9016,50.6902,49.8099,50.1309,22167223,55.28,...,54.67,,MSFT,54.42,55.28,54.32,54.67,22167223,2021-02-17 04:18:21,22167223
2016-04-07,0.04,-0.775284,0.0007,54.46,49.9383,50.3509,49.7274,50.3142,19225092,54.91,...,54.87,,MSFT,54.46,54.91,54.23,54.87,19225092,2021-02-17 04:18:44,19225092
2016-04-06,0.66,-0.772560,0.0121,55.12,50.5435,50.6168,49.7090,49.8466,21188682,55.20,...,54.36,,MSFT,55.12,55.20,54.21,54.36,21188682,2021-02-17 04:18:44,21188682
2016-04-05,-0.56,-0.774871,-0.0102,54.56,50.0300,50.7085,49.9383,50.6077,19272255,55.30,...,55.19,,MSFT,54.56,55.30,54.46,55.19,19272255,2021-02-17 04:17:30,19272255
2016-04-04,0.87,-0.771281,0.0159,55.43,50.8277,51.0387,50.4335,50.8277,18928810,55.66,...,55.43,,MSFT,55.43,55.66,55.00,55.43,18928810,2021-02-17 04:17:36,18928810

## convert to csv

In [19]:
df_AAPL.to_csv(r'C:/Users/HOA PHAT/Downloads/uci/stats 170A/capstone/data/AAPL_hist_price.csv', index = False)

In [20]:
df_FB.to_csv(r'C:/Users/HOA PHAT/Downloads/uci/stats 170A/capstone/data/FB_hist_price.csv', index = False)

In [21]:
df_ADBE.to_csv(r'C:/Users/HOA PHAT/Downloads/uci/stats 170A/capstone/data/ADBE_hist_price.csv', index = False)

In [22]:
df_INTC.to_csv(r'C:/Users/HOA PHAT/Downloads/uci/stats 170A/capstone/data/INTC_hist_price.csv', index = False)

In [23]:
df_PYPL.to_csv(r'C:/Users/HOA PHAT/Downloads/uci/stats 170A/capstone/data/PYPL_hist_price.csv', index = False)

In [24]:
df_BABA.to_csv(r'C:/Users/HOA PHAT/Downloads/uci/stats 170A/capstone/data/BABA_hist_price.csv', index = False)

In [25]:
df_QCOM.to_csv(r'C:/Users/HOA PHAT/Downloads/uci/stats 170A/capstone/data/QCOM_hist_price.csv', index = False)

In [26]:
df_SHOP.to_csv(r'C:/Users/HOA PHAT/Downloads/uci/stats 170A/capstone/data/SHOP_hist_price.csv', index = False)

In [27]:
df_AMD.to_csv(r'C:/Users/HOA PHAT/Downloads/uci/stats 170A/capstone/data/AMD_hist_price.csv', index = False)

In [28]:
df_MSFT.to_csv(r'C:/Users/HOA PHAT/Downloads/uci/stats 170A/capstone/data/MSFT_hist_price.csv', index = False)

## Save to pickle

In [29]:
import pickle
with open('AAPL_price.pickle', 'wb') as f:
    pickle.dump(df_AAPL, f)

In [30]:
with open('FB_price.pickle', 'wb') as f:
    pickle.dump(df_FB, f)

In [31]:
with open('ADBE_price.pickle', 'wb') as f:
    pickle.dump(df_ADBE, f)

In [32]:
with open('INTC_price.pickle', 'wb') as f:
    pickle.dump(df_INTC, f)

In [33]:
with open('PYPL_price.pickle', 'wb') as f:
    pickle.dump(df_PYPL, f)

In [34]:
with open('BABA_price.pickle', 'wb') as f:
    pickle.dump(df_BABA, f)

In [35]:
with open('QCOM_price.pickle', 'wb') as f:
    pickle.dump(df_QCOM, f)

In [36]:
with open('SHOP_price.pickle', 'wb') as f:
    pickle.dump(df_SHOP, f)

In [37]:
with open('AMD_price.pickle', 'wb') as f:
    pickle.dump(df_AMD, f)

In [38]:
with open('MSFT_price.pickle', 'wb') as f:
    pickle.dump(df_MSFT, f)